* {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

div {
    text-align: center;
    display: flex;
    justify-content: center;
}

div h3 {
    background-color: #8ee0bb;
    color: black;
    width: 120px;
    border-radius: 30px;
    padding: 8px 16px;
    font-weight: 500;
}

result {
    display: flex;
    justify-content: center;
    width  : 100%;
    background-color: #FFFFFF;
}

earnings {
    display: table;
}

earnings item {
    display: flex;
    background-color: #E7EAEC;
    margin: 8px;
    padding: 6px;
    border-radius: 8px;
}

earnings item * {
    display: table-cell;
    margin: 4px 8px;
    display: none;
    width  : 33.33%;
    padding: 6px;
    /* color: gray; */
    font-weight: 500 !important;
}

earnings item ticker {
    width: 120px;
}

earnings item name {
    width: 300px;
}

earnings item time {
    width: 100px !important;
    background-color: #c1e9d7;
    color: #068d55;
    text-align: center;
    border-radius: 30px;
}

earnings item ticker,
earnings item name,
earnings item time {
    display: block;
}