body {
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

div {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #f2f7fb;
}

div h3 {
    background-color: #8ee0bb;
    color: black;
    width: 120px;
    border-radius: 30px;
    padding: 4px 16px;
    font-weight: 500;
}

result {
    background-color: #f2f7fb;
    display: flex;
    justify-content: center;
    width  : 100%;
}

earnings {
    display: table;
}

earnings item {
    display: flex;
    /* background-color: #E7EAEC; */
    background-color: #ffffff;
    margin: 2px;
    padding: 2px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 3px 41px -23px rgba(0,0,0,1);
    -moz-box-shadow: 0px 3px 41px -23px rgba(0,0,0,1);
    box-shadow: 0px 3px 41px -23px rgba(0,0,0,1);
}

earnings item * {
    display: table-cell;
    margin: 4px 8px;
    display: none;
    width  : 33.33%;
    padding: 3px;
    /* color: gray; */
    font-weight: 500 !important;
    box-sizing: border-box;
}

earnings item ticker {
    width: 100px;
}

earnings item name {
    width: 250px;
}

earnings item time {
    width: 100px !important;
    background-color: #c1e9d7;
    color: #068d55;
    text-align: center;
    border-radius: 30px;
}

earnings item ticker,
earnings item name,
earnings item time {
    display: block;
}